# If you modify this execute `zimfw uninstall & zimfw install`

zmodule zimfw/environment
zmodule zimfw/git-info
zmodule zimfw/input
zmodule zimfw/utility
zmodule zimfw/completion
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule marlonrichert/zsh-autocomplete
zmodule agkozak/zsh-z
zmodule romkatv/powerlevel10k --use degit
